.sticky {
  position: fixed;
  width: 100%-20rem;
  left: 10rem;
  right: 10rem;
}

.card{
  justify-content: center; 
  align-items: center; 
  margin: auto;
  /* background-color: #d7f8fd; */
  /* margin-bottom: 2.4rem; 
  padding: 1.4rem; */
  color: #333333;
  box-shadow: 1px 1px 2px #a9aaaa;
  word-wrap: break-word;
  width:800px
}

.food-category-menu-option:hover{
  color: green;
  text-decoration:overline ;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info-window-text {
  line-height: 200%;
  font-weight: bold;
}

.info-window-link {
  color: blue;
  text-decoration: underline;
  line-height: 200%;
  font-weight: bold;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
